:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #090505de;
  background-color: hsl(0, 12%, 68%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0a9ca7;
  text-decoration: inherit;
}
a:hover {
  color: #059d4c8e;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(190, 51%, 42%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c01fa5;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: hsl(210, 75%, 2%);
    background-color: hsl(0, 17%, 2%);
  }
  a:hover {
    color: #dcddef;
  }
  button {
    background-color: #e74f4f;
  }
}
